<div class="header">
    <div class="headernav" *ngIf="loggedService.getAuth()=='false'  || loggedService.getVer()=='ver'" >
        <h2 class="tusitio">TuSitio</h2>
        <ul class="nav">
            <li><a href="/login">Iniciar sesión</a></li>
            <li><a href="/register">Registrarse</a></li>
        </ul>
    </div>
    <div class="headernav" *ngIf="loggedService.getAuth()=='true' && loggedService.getId()!=='1' && loggedService.getVer()=='nover'">
        <h2 class="tusitio">TuSitio</h2>
        <ul class="nav" >
            <li><a href="/mensajes">Bandeja Entrada</a></li>
            <li><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
        </ul>
    </div>
    <div class="headernav" *ngIf="loggedService.getAuth()=='true' && loggedService.getId()=='1' && loggedService.getUser()=='lsaumeth' && loggedService.getVer()=='nover'">
        <h2 class="tusitio">TuSitio</h2>
        <ul class="nav" >
            <li><a href="/mensajes">Bandeja Entrada</a></li>
            <li><a href="/administrar">Administrar</a></li>
            <li><a (click)="cerrarSesion()">Cerrar Sesión</a></li>
        </ul>
    </div>
</div>