<div class="footer">
    <div class="footer1">
        <img src="https://pbs.twimg.com/profile_images/597180890574356480/4MbrykhK_400x400.png" alt="">
        <h2>Learsacaz Art.</h2>
    </div>
    <div class="footer2">
        <h2>TuSitio es una red social enfocada para personas que viven solas y puedan corpartir su experiencia con los demás, así también es una ayuda para los que viven solos por primera vez</h2>
    </div>
    <div class="footer3">
        <a target="_blank" href="https://www.instagram.com/learsacaz117">Instagram <i class="fab fa-instagram"></i></a>
        <a target="_blank" href="https://www.github.com/learsacaz">GitHub <i class="fab fa-github"></i></a>
        <a target="_blank" href="https://www.api.whatsapp.com/send?&phone=+573212266943">Whatsapp <i class="fab fa-whatsapp"></i></a>
    </div>
</div>
<div class="derechos"><p>Copyright© 2021 - Page Created By Learsacaz Art. - All Rights Reserved</p></div>