*{
    color: white;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box; 
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    width: 95%;
    margin: auto;
}
.bandeja{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
}
table{
    border-radius: 50px;
}
.cabezera{
    width: 300px;
    height: 50px;
    background-color: rgb(88,29,29);
}
.editar{
    background: none;
    text-align: center;
    color: white;
    font-size: 15px;
}
td>input{
    width: 90%;
}
td{
    text-align: center;
    color: white;
    height: 50px;
    background-color: rgb(34, 34, 34);
    box-shadow: 0px 0px 10px white;
}
td>button{
    background: none;
}
.fa-user-edit, .fa-check{
    color: rgb(76, 209, 76);
}
.fa-trash-alt{
    color: rgb(209, 76, 76);
}
.fas{
    font-size: 30px;
    cursor: pointer;
}
