<div class="contenedor" *ngIf="logeoService.getAuth()=='false' || logeoService.getVer()=='ver'">
    <div>
        <form [formGroup]="formLogin" (submit)="send()" class="login"> 
            <h1>Iniciar Sesión</h1><br>
            <input type="text" placeholder="Usuario" id="user" formControlName="user"><br><br>
            <input type="password" placeholder="Contraseña" id="pass" formControlName="pass"><br><br>
            <button type="submit">Inicia Sesión</button>
        </form>
    </div>
</div>
<div class="contenedor" *ngIf="logeoService.getAuth()=='true'  && logeoService.getVer()=='nover'">
    <div class="bienvenida"> 
        <h1>Bienvenido a <h2 class="tusitio">TuSitio</h2> {{logeoService.getNombre()}} </h1>
    </div>
</div>